
Template: create_order.html

This HTML template is used to create a new order in the shop application.

Description:
    - It contains a form for creating a new order, including form fields such as delivery address, promocode, and color.
    - The form is submitted via the POST method with CSRF protection.
    - It includes buttons for submitting the form and links to navigate to the orders list and create order pages.

Note: This template utilizes Django template tags and filters, such as {% csrf_token %} and {% url %}.


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>
  <h1>Create Order</h1>
    <div>
        <h1>Create a new order</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:order-list' %}">Orders list</a>
    </div>
    <div>
        <a href="{% url 'shopapp:create-order' %}">Create Order</a>
    </div>
</body>
</html>