
Template: shopapp/shop_index.html

This HTML template is used to display the index page of the shop application.

Description:
    - It extends the base template 'shopapp/base.html'.
    - It sets the title of the page to "Shop index" using the {% block title %} tag.
    - It defines a block named 'body' to contain the main content of the page.
    - Inside the 'body' block, it displays a greeting message "Hello Shop Index".
    - It includes Lorem Ipsum text using the {% lorem %} template tag to generate placeholder content.


<!-- Template: shopapp/shop_index.html -->
{% extends 'shopapp/base.html' %}

{% block title %}
 Shop index
{% endblock %}

{% block body %}
<h1> Hello Shop Index</h1>
   <div>
       {% lorem 3 p random %}
   </div>
{% endblock %}