
This HTML template is used to create a new product in the shop application.

Description:
    - It defines a block for the title, which indicates that the page is for creating a product.
    - Within the body block, it displays a heading indicating the action of creating a product.
    - It includes a form with the necessary fields for creating a product, such as name, description, price, etc.
    - The form uses the POST method to submit the data, and enctype="multipart/form-data" is specified for handling file uploads.
    - It includes a CSRF token for security.
    - It provides a submit button for creating the product.
    - It includes a link to go back to the list of products after creating a new product.

Note: The context variable 'form' should be passed to this template, which represents the form for creating a new product.


<!-- Template: shopapp/product_create.html -->
{% block title %}
    Create product
{% endblock %}

{% block body %}
    <h1>Create product</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:products-list' %}">Back to products</a>
    </div>
{% endblock %}
