
This HTML template is used to display a list of products in the shop application.

Description:
    - It loads the internationalization template tags using the 'i18n' template library.
    - It defines a block for the title, which translates the text "Products list" into the current language.
    - Within the body block, it displays a heading for the products list.
    - If there are products available, it displays a message indicating the number of products.
    - It then iterates over each product and displays its details, such as name, description, price, discount, color, and preview image.
    - It provides links to create a new product, create an order, and go to the orders list.

Note: The context variable 'products' should be passed to this template, which represents a list of product objects.


<!-- Template: shopapp/products_list.html -->
{% load i18n %}

{% block title %}
    {% translate 'Products list' %}
{% endblock %}

{% block body %}
  <h1>
        {% translate 'Products' %}
  </h1>
    {% if products %}
        <div>
            {% blocktranslate count products_count=products|length %}
                There is only one product.
                {% plural %}
                There are {{ products_count }} products.
            {% endblocktranslate %}
        </div>
    {% endif %}

    <div>
        {% for product in products %}
            <div>
                <p><a href="{% url 'shopapp:product_details' pk=product.pk %}"
                >{% translate 'Name' %} :{{ product.name }}</a></p>
                <h4><p>{% translate 'Description' %} : {{ product.description }} </p></h4>

                <h4><p>{% translate 'Price' %} : {{ product.price }}$</p></h4>
                <h4><p>{% translate 'Discount' %} : {% firstof product.discount 'no discount' %}%</p></h4>
                <h4><p>{% translate 'Color' %} :{{ product.color }}</p></h4>

                {% if product.preview %}
                        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="500" height="300">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div>
        <a href="{% url 'shopapp:create-product' %}"
        >{% translate 'Create a new product' %}
        </a>
        <div>
            <a href="{% url 'shopapp:create-order' %}"
            >{% translate 'Create Order' %}</a>
        </div>
        <div>
            <a href="{% url 'shopapp:order-list' %}"
            >{% translate 'Go to Orders list' %}</a>
        </div>
    </div>
{% endblock %}