
<!--This HTML code appears to be part of a password reset confirmation page. Below is a documentation breakdown of the code:-->

<!--1. `<h3> Password reset sent </h3>`:-->
<!--   - This heading displays the message "Password reset sent" with a smaller font size compared to a main heading.-->
<!--   - It provides a visual indication to the user about the purpose of the page.-->

<!--2. `<p> We've emailed you instructions for setting your password </p>`:-->
<!--   - This paragraph provides information to the user that instructions for setting their password have been emailed to them.-->
<!--   - It notifies the user about the action taken after the password reset request.-->

<!--3. `<p> If you don't receive an email please make sure </p>`:-->
<!--   - This paragraph serves as additional guidance to the user.-->
<!--   - It informs the user about what to do in case they don't receive the password reset email.-->

<!--Overall, this HTML code communicates to the user that a password reset email has been sent and provides instructions on what to do next in case the email is not received.-->


<h3> Password reset sent </h3>
<p> We've emailed you instructions for setting your password </p>
<p> If you don't receive an email please make sure </p>