
<!--This HTML code represents a password reset completion message. Below is the documentation for this code:-->

<!--1. `<h3> Password reset complete </h3>`:-->
<!--   - This heading indicates to the user that the password reset process has been completed successfully.-->
<!--   - It provides a clear title for the section related to the completion of the password reset.-->

<!--2. `<p> Your password has been set. Login </p>`:-->
<!--   - This paragraph informs the user that their password has been successfully reset.-->
<!--   - It prompts users to log in using their new password.-->

<!--3. `<a href="/myauth/login/">Login</a>`:-->
<!--   - This anchor element (`<a>`) is a hyperlink that redirects users to the login page.-->
<!--   - The `href="/myauth/login/"` attribute specifies the URL of the login page.-->
<!--   - It provides a clickable link for users to easily navigate to the login page after resetting their password.-->

<!--Overall, this HTML code provides a clear message to users indicating that their password reset process is complete. It also includes a link to the login page for users to log in with their new password.-->


<h3> Password reset complete  </h3>
<p> Your password has been set.Login </p>
<a href="/myauth/login/">Login</a>