
<!--This HTML code represents a password reset form. Below is a breakdown of the documentation for this code:-->

<!--1. `<h3> Password Reset </h3>`:-->
<!--   - This heading indicates to the user that the form is for resetting their password.-->
<!--   - It provides a clear title for the section related to password reset.-->

<!--2. `<p> Forgotten your password? Enter your Email address below, and we'll email instructions for setting a new one. </p>`:-->
<!--   - This paragraph provides instructions to the user, informing them about the purpose of the form.-->
<!--   - It prompts users to enter their email address to receive instructions for resetting their password.-->

<!--3. `<form method="post">`:-->
<!--   - This is the opening tag of a form element.-->
<!--   - The `method="post"` attribute specifies that the form data will be submitted using the HTTP POST method.-->

<!--4. `{% csrf_token %}`:-->
<!--   - This template tag generates a CSRF (Cross-Site Request Forgery) token, which helps protect against CSRF attacks.-->

<!--5. `{{form}}`:-->
<!--   - This template variable renders the form fields dynamically.-->
<!--   - It represents the form fields required for entering the email address for password reset.-->

<!--6. `<input type="submit" name="send email">`:-->
<!--   - This input element is a submit button that users can click to submit the form.-->
<!--   - The `name="send email"` attribute provides a name for the submit button, which can be useful for handling form submissions on the server-side.-->

<!--Overall, this HTML code creates a form where users can request a password reset by providing their email address. It guides users with a heading and instructions, and provides a submit button for form submission.-->


<h3> Password Reset </h3>
<p> Forgotten your password? Enter your Email address below, and well Email instruction for setting
    a new one </p>
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="send email">
</form>